@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* colors:
Forest #1E434C
Rust #9B4F0F
Gold #C99E10 */

/*-------------------- Body --------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/*-------------------- Header --------------------*/
/* #header-container{
height: 15vh;
} */

#header {
  text-align: center;
  font-family: "Fredoka One", cursive;
  background-color: #8d230f;
  color: white;
  padding: 20px;
  height: 12vh;
}

#header-logo {
  height: 4vh;
}

#header a:link {
  text-decoration: none;
  color: white;
}

#header a:visited {
  text-decoration: none;
  color: white;
}

#header a:link {
  text-decoration: none;
  color: white;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
  font-size: 0.75rem;
}

/*-------------------- Home Page --------------------*/
#home-page-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

#homepage-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 5px solid #c99e10;
}

#pop-up-address{
  font-size: .75rem;
  margin: 0;
}

/* Nav Bar */

#nav-bar {
  background-color: #1e434c;
  position: absolute;
  left: 0;
  align-self: flex-start;
  padding: 10px;
  height: 80vh;
}

#nav-bar ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(80vh - 42px);
}

#nav-bar ul h4 {
  margin: 0;
  font-size: 1.25rem;
}

#nav-bar a:link {
  text-decoration: none;
  color: white;
}

#nav-bar a:visited {
  color: white;
}

#nav-bar a:hover {
  color: #c99e10;
}

/*-------------------- Brewery Page --------------------*/
#brewery-container {
  width: 40vw;
  margin: 0 30vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

#brewery-container a:link {
  text-decoration: none;
  color: #1e434c;
}

#brewery-container a:visited {
  color: #1e434c;
}

#brewery-container a:hover {
  color: #c99e10;
}

#brewery-container h3 {
  color: #1e434c;
  margin: 5px 0;
}

#brewery-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 5px solid #c99e10;
}

#information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#location-and-hours-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
}

#additional-information {
  margin: 10px 0;
}

#additional-information p {
  padding: 0;
  margin: 0;
}

/* Comments */
textarea{
  width: 35vw;
}


/*-------------------- 404 Page --------------------*/
#not-found-container{
  text-align:center;
  margin: 10vh;
}

#submit-button{
  background-color:#1e434c;
  color: white;
  border-radius: 10%;
}

#submit-button:hover{
  background-color: #c99e10;
  color: black;
  cursor: pointer;
}


/*-------------------- Footer --------------------*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  text-align: right;
  background-color: #8d230f;
  color: white;
}

#footer a:link {
  color: white;
}

#footer a:visited {
  color: white;
}

#footer p {
  padding: 10px 25px;
  margin: 0;
}
